<%- include('header') -%>
  <body>
    <div class="box" id="heading">
      <h1><%=kindOfDay%></h1>  
  </div>           
    <div class="box">
      <% for(let i=0;i< listItems.length ;i++)  { %>
        <div class="item">
          <input type="checkbox">
          <p><%=listItems[i]%></p>
          
          <form action="/deleteItem" method="POST">
            <button type="submit" name="button" value="<%=listItems[i]%>"  >🗑️</button>
        </form>
        </div>
      
      <% } %>
      <form class="item" method="post" action="/" >
        <input type="text" name="newItem" placeholder="Add New Item" autocomplete="off">
        <button type="submit" name="list" value="<%=kindOfDay%>">+</button>
      </form>
    </div>
    
    </body>
<%- include('footer') -%>
